*{
    background-color: #03BB85;
}
nav{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
}
nav>ul{
    text-align: right;
}
nav>ul>li{
    display: inline-block;
}
nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration:underline;
    display: block;
    color: black;
    font-size: 20px;
}
nav>ul>li>a:hover{
    box-shadow: 0 0 10 px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: aqua;
    color: rgba(0, 35, 122, 0.7);
}
#win{
    color: black;
    opacity: 1.0;
    padding-top: 0px;
    margin-top: 0px;
}
.bid{
    background-image: url(hand.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px; 
}
h1{
    font-size: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 120px;
    font-weight: 1000;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
#pan{
    float: right;
    font-size: xx-large;
    clear: right;
    padding-bottom: 2px;
}

h2{
    text-align: center;
    justify-content: center;
    font-weight: 900;
    align-items: center;
    font-style: italic;
    font-size: 50px;
}
p{
    font-size: 25px;
    font-weight: 300;
}
#D1{
     box-sizing: content-box;
    box-shadow: 3px 3px 5px grey;
    /* width: 48%; */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    float: left;
    padding-right: 5px;
}
#D3{
    float: right;
}
.ol{
    float: left;
    font-size: 36px;
}

#peg{
    /* align-items: flex-end; */
    /* justify-content: left; */
    /* flex-direction: column; */
    text-align: left;
     padding: 5%;
    /* height: 100%; */
}
