body{
    background-color: white;

}
h1{

}
.parent{
    background-color: #03BB85;
}

.decendant{
    background-color: white;
    width: 20%;
    padding-left: 50px;
    display: flex;
    margin-left: 50px;

}

.TOPIC{
    margin-top: 100px;
}

#one{
    text-align: center;
    

}

#four{
    text-align: center;
    padding-top: 15px;

}

#three{
    float: right;
}


.HELP{
    padding-top: 50px;
}