h1{
    background-color:aquamarine;
    height: 600px;
    text-align: center;
    padding-top: 400px;
    text-justify: auto;
    font-size: 50px;
}
nav{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
    
}
nav>ul{
    text-align: right;
}
nav>ul>li{
    display: inline-block;
}
nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration:underline;
    display: block;
    color: black;
    font-size: 20px;
}
nav>ul>li>a:hover{
    box-shadow: 0 0 10 px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: aqua;
    color: rgba(0, 35, 122, 0.7);
}